/**
 * Generic
 */
* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.no-pointer {
    cursor: default;
}

/**
 * Icons
 */

button.project {
    background-image: url(../images/icons/folder.png);
}

button.timesheet {
    background-image: url(../images/icons/calendar.png);
}

button.data {
    background-image: url(../images/icons/database.png);
}

button.hr {
    background-image: url(../images/icons/group.png);
}

button.after-sale {
    background-image: url(../images/icons/money_dollar.png);
}

button.setting {
    background-image: url(../images/icons/wrench.png);
}

button.document {
    background-image: url(../images/icons/page_word.png);
}

button.preference {
    background-image: url(../images/icons/user_edit.png);
}

button.logout {
    background-image: url(../images/icons/user_go.png);
}

.home {
    background-image: url(../images/icons/house.png);
}

/*!
 * Navigation
 */
  .main-menu-button .x-btn-mc {
	text-align: left;
  }

/*!
 * Application Tab
 */
#application-tab .x-tab-panel-header {
    padding: 10px 0 2px;
}

#application-tab .x-tab-strip-top {
    background: transparent !important;
}
